# File synced from https://github.com/FasterSpeeding/Aurora-Fauxy
# Changes will not be persisted
[Unit]
Description=create fx_cast user
Before=fx_cast.service

[Service]
Type=oneshot
RemainAfterExit=yes
# This is allowed to fail, indicates the user already exists
ExecStart=useradd --system fx_cast || true

[Install]
WantedBy=multi-user.target
