# FILE SYNCED from https://github.com/FasterSpeeding/Aurora-Fauxy

[Unit]
Description=create fx_cast user

[Service]
Type=oneshot
RemainAfterExit=yes
# This is allowed to fail, indicates the user already exists
ExecStart=useradd --system fx_cast || true
Before=fx_cast.service

[Install]
WantedBy=multi-user.target
